

<div class="body-container">

  <div id="main-image" class="row">
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <div class="row search-form">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <form class="pure-form" ng-submit="">
                <fieldset class="row">
                  <legend class="col-xs-12">Hotel Search</legend>
                  <div class="col-xs-12">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                      <input class="col-xs-12 col-sm-12 col-md-8 col-lg-8" type="text" placeholder="Hotel Name, City or State" ng-model="searchTerm">
                      <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
                    </div>
                  </div>
                  <div class="col-xs-12 center-aligned submit-marigin">
                    <button type="submit" class="pure-button pure-button-primary">Search</button>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3"></div>
  </div>

  <div class="row body-margin">
    <div class="col-sm-12 center-aligned"><h4>Hotel Directory</h4></div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 center-aligned"></div>
    <div id="map-section" class="col-xs-12 col-sm-8 col-md-8 col-lg-8 center-aligned">
      <!--span>ng-repeat to be used to display states and hotels in respective state...</span-->
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 center-aligned"></div>
  </div>

  <div class="row body-margin">
    <div class="col-sm-12 center-aligned"><h4>Featured Hotels</h4></div>
    <!--span>ng-repeat to be used here to display featured hotels pulled from database on page load</span-->
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 center-aligned"></div>
  </div>

</div>






